@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Fira Code', monospace;
}

:root {
  --background-color: white;
  --text-color: black;
}

[data-theme='dark'] {
  --background-color: black;
  --text-color: white;
}

/*
Set the default cursor for buttons.
*/
button,
[role='button'] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
